body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: Green;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: Green;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: white;
  border: 2px solid #3498db;
  color: #008000;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: Green;
  color: white;
}
